@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Potato Store</h1>
    <p class="lead">The store for buying all kinds of quality Potato products.</p>
    <p><a href="https://esoteric23.weebly.com" class="btn btn-primary btn-lg">Complementary site &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-10">
        <h2 style="color:steelblue">Potato Store Features</h2>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href=@Url.Action("Index", "Customer")>Customers &raquo;</a></p>
    </div>
</div>
